
// TODO re-position #order align-items top when window height < certain value.
$background-color: rgb(240,240,240);

#order {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto !important; // override component default

    .content_display {
        display: flex;
        width: max(600px, min( 150vh, 1200px ));        
        border-radius: 10px;
        box-shadow: 0 max( 8px, min( 2vh, 16px ) ) max( 12px, min( 3vh, 24px ) ) rgba( black, .3 );

        .content_left {
            float: left;
            height: auto;
            width: 30%;

            form {
                box-sizing: border-box;
                padding: max( 20px, min( 5vh, 40px ) );

                label {
                    line-height: 30px;
                }

                select, input {
                    box-sizing: border-box;
                    margin-bottom: 10px;
                    padding: 5px;
                    width: 100%;
                }

                input[ type="number" ]::-webkit-inner-spin-button,
                input[ type="number" ]::-webkit-outer-spin-button {
                    opacity: 1;
                }
            }
        }
    
        .content_right { // shoe card
            width: 70%;
            height: 100%;

            .shoe_card {
                box-shadow: none;
                width: 100%;
                margin: 0;
                border: 0;

                img {
                    box-sizing: border-box;
                    height: auto;
                    width: 100%;
                }

                .shoe_description {
                    position: unset;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                }

                .arrows, .shoe_description a { // override component default
                    display: none !important;
                }
            }
        }
    }
}

.confirmation {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba( black, .5 );
    backdrop-filter: blur( 1px );
    width: 100%;
    height: 100%;

    .box {
        position: relative;
        text-align: center;
        box-shadow: 0 10px 15px rgba( black, .3 );
        border: 2px solid rgba( black, .7 );
        border-radius: 10px;
        padding-bottom: 10px;
        max-width: 400px;
        max-height: 300px;
        background: $background-color;

        h2, p {
            margin: 0;
        }

        p {
            text-align: left;
            padding: 0 10px;
        }

        .header {
            padding: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid rgba( black, .7 );
        }

        .close {
            position: absolute;
            text-decoration: none;
            color: white;
            background: lighten( red, 15% );
            border-radius: 0 0 5px 0;
            padding: 3px 7px;
            margin: 10px;
            right: 0;
            bottom: 0;

            &:active {
                background: lighten( red, 20% );
            }
        }
    }
}