
#orderRoot, #rateRoot {
    .order, .rate {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
        overflow-y: auto;
        box-sizing: border-box;
        background-color: $background-color;
        width: 100%;
        height: 100%;
        
    
        @media screen and ( max-width: 350px ) {      
            overflow-x: auto;
            justify-content: flex-start;
        }
    
        @media screen and ( max-width: 600px ) {      
            align-items: unset;
        }
    
        .content_display {
            display: flex;
            align-items: center;
    
            @media screen and ( max-width: 600px ) {      
                display: unset;
            }
    
            width: max(600px, min( 150vh, 1200px ));        
            border-radius: 10px;
            box-shadow: 0 max( 8px, min( 2vh, 16px ) ) max( 12px, min( 3vh, 24px ) ) rgba( black, .3 );
    
            .content_left {
                float: left;
                height: auto;
                width: 30%;
                min-width: 300px;
    
                @media screen and ( max-width: 600px ) {      
                    float: unset;
                    width: 100%;
                }
    
                form {
                    box-sizing: border-box;
                    padding: max( 20px, min( 5vh, 40px ) );
    
                    label {
                        line-height: 30px;
                    }
    
                    select, input {
                        box-sizing: border-box;
                        margin-bottom: 10px;
                        padding: 5px;
                        width: 100%;
                    }
    
                    input[ type="number" ]::-webkit-inner-spin-button,
                    input[ type="number" ]::-webkit-outer-spin-button {
                        opacity: 1;
                    }
                }
            }
        
            .content_right { // shoe card
                width: 70%;
                height: 100%;
    
                @media screen and ( max-width: 600px ) {      
                    width: 100%;
                    height: unset;
                }
    
                .shoe_card {
                    box-shadow: none;
                    width: 100%;
                    margin: 0;
                    border: 0;

                    .rate_anchor {
                        display: none;
                    }
    
                    img {
                        box-sizing: border-box;
                        height: auto;
                        width: 100%;
                    }
    
                    .shoe_description {
                        position: unset;
                        width: 100%;
                        bottom: 0;
                        left: 0;
                    }
    
                    .arrows, .shoe_description a { // override component default
                        display: none !important;
                    }
                }
            }
        }
    }
}

.confirmation {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $background-color;
    width: 100%;
    height: 100%;

    .box {
        position: relative;
        text-align: center;
        box-shadow: 0 10px 15px rgba( black, .3 );
        border: 1px solid rgba( black, .1 );
        border-radius: 10px;
        padding-bottom: 10px;
        min-width: 400px;
        background: $background-color;

        h2, p, ul {
            margin: 0;
        }

        p {
            text-align: left;
            padding: 3px 20px;
        }

        ul {
            padding-left: 40px;

            li.address {
                text-align: left;

                &:nth-of-type( 2 ) {
                    list-style-type: none;
                }
            }
        }

        .header {
            background: rgba( green, .4 );
            color: $background-color;
            text-shadow: 1px 1px rgba( black, .1 ), -1px -1px rgba( black, .1 ), -1px 1px rgba( black, .1 ), 1px -1px rgba( black, .1 );
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 10px 10px 0 0;
        }

        .close {
            position: absolute;
            text-decoration: none;
            color: $background-color;
            background: lighten( red, 15% );
            border-radius: 0 0 5px 0;
            padding: 3px 7px;
            margin: 5px;
            right: 0;
            bottom: 0;

            &:active {
                background: lighten( red, 20% );
            }
        }
    }
}