
@import "../_variables.scss";

.shoes {
    position: absolute;
    align-items: center;
    justify-content: center;
    width: max-content;

    .filter {
        position: absolute;
        top: calc( max(30px, min(12vw, 120px)) - 19px );
        right: 0;
    }
}

.shoes .shoe_card, .shoe_card {
    position: relative;
    box-sizing: border-box;
    margin: max( 30px, min( 12vw, 120px ) ) 0;
    box-shadow: 0 max( 8px, min( 1.9vw, 16px ) ) max( 12px, min( 1.9vw, 24px ) ) rgba( black, .3 );
    border: 4px solid $background-color;
    background: $background-color;
    border-radius: 10px;
    padding-bottom: 0;

    a {
        cursor: pointer;
        text-decoration: none;
        padding: 0;
        color: white;

        &.rate_anchor {
            position: absolute;
            padding: 5px 10px 5px 5px;
            border-radius: 10px 0 5px 0;
            top: -4px;
            left: -4px;
            background: lighten( blue, 20% );

            &:active {
                background: lighten( blue, 25% );
            }
        }

        p.rate_text {
            position: relative;
            display: inline-block;
            bottom: 6px;
            margin: 0;
        }
    }

    img {
        padding: 20px;
        width: calc( max( 200px, min( 63vw, 600px ) ) - 4px);
    }

    .shoe_description {
        position: relative;
        width: calc( 100% + 2px );
        bottom: -1px;
        left: -1px;
        z-index: 10;

        .reviews {
            overflow-y: auto;
            max-height: 200px;
            padding: 30px 0;

            .rating {
                margin: 5px 0;
                box-shadow: 0 4px 8px rgb(20 20 20 / 30%);
                padding: 10px 0;
                width: 90%;
                left: 5%;
                position: relative;

                p {
                    padding: 0;
                    padding-left: 10px;
                    font-weight: lighter;
                    text-align: left;

                    span.star_rating_text {
                        position: relative;
                        left: 5px;
                        font-weight: bold;
                    }

                    svg {
                        bottom: -3px;
                        position: relative;
                    }
                }
            }
        }

        h2, p, a {
            text-align: center;
            font-weight: bold;
            font-size: 1.2rem;
            margin: 0;
            padding: 10px 0;
        }

        a {
            .order {
                position: relative;
                user-select: none;
                background: lighten( red, 15% );
                border-top: 4px solid lighten( red, 15% );
                padding: 16px 0;
                color: white;
                border-radius: 0 0 5px 5px;
                width: calc( 100% + 8px );
                left: -4px;
                bottom: -4px;

                &:active {
                    background: lighten( red, 20% );
                }
            }
        }
    }

    .arrows {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        .arrow_left, .arrow_right {
            display: flex;
            align-items: center;
            float: left;
            height: 100%;

            svg {
                cursor: pointer;
                width: max( 24px, min( 5vw, 48px ) );
                height: max( 24px, min( 5vw, 48px ) );

                &:hover {
                    transform: scale( 1.1 );
                    transition: .25s;
                }

                &:active {
                    transform: scale( 1 );
                    transition: 0s;
                }
            }
        }

        .arrow_right {
            float: right;
        }
    }
}
